body {
  background:#000;
}

.main-section {
    display: block;
    box-sizing: ;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

.clock-holder {
  width: 100%;
  background: #000;
  margin: 30px auto;
  position: relative;
  
}


.timer-component {
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    color: #00f001;
    background-color: #CB2A2A;
}
.timer-input-container{
    font-family: 'Orbitron', sans-serif;
    height: 18vh;
    width: 28vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timer-input-component{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timer-input-change{
    font-family: 'Orbitron', sans-serif;
    height: 30vh;
    margin: 0%;
    color: #00f001;
}


.timer-btn-gre {
    background: #1EFE00;
    margin-top: 30px;
    margin-left: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
}

.timer-btn-yel {
    background: #E8FD04;
    margin-top: 30px;
    margin-left: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
}


.timer .timer-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.timer .timer-btn-red{
  border: 2px solid #FF0101;
  color: #000;
  background: #FF0101;

}
.timer .timer-btn-yel{
  border: 2px solid #E8FD04;
  color: #000;
  background: #E8FD04;
}

.timer .timer-btn-gre{
  border: 2px solid #00f001;
  color: #000;
  background: #00f001;
}
.timer .timer-btn-red:hover {
  background: #FF0101;
  border: 2px solid #fff;
  color: #fff;
}
.timer .timer-btn-yel:hover {
  background: #E8FD04;
  border: 2px solid #fff;
  color: #fff;
}
.timer .timer-btn-gre:hover {
  background: #00f001;
  border: 2px solid #fff;
  color: #fff;
}


.test {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*height: 60vh;*/
    background-color: #000;
    padding: 0px;
    margin: 0px;
}